{% extends 'base.html' %}
{% block main_page %}
<h2><b>GERAÇÃO DE MACROS</b></h2>
<div class="dropdown-divider"></div>
<form action="{% url 'submit_movfin' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
<div class="container">

		<!-- Passando parâmetro oculto para identificar tipo de Operação-->
	  <input type="hidden" name="op" value="9" />
	  <input type="hidden" name="lancado_por" value= "{{request.user|safe}}"/>

	  <div class="form-row">

	  </div>
	  <div class="form-row">
			<div class="form-group col-md-auto text-left">
				<a class="btn btn-info btn-sm" href="{% url 'download_sample' %}">Baixar Arquivo Modelo</a>
			</div>
			<div class="form-group col-md-9">
		 	<label>Arquivo .CSV<input type="file" name="csv_file" id="csv_file" required="True" class="form-control"
		 		style="border: 0px; margin-bottom: 10px; padding: 0px;"></label>
			</div>
	  </div>
    <div class="row" style="margin-top:40px;">
		<button class="btn btn-success btn-lg btn-block"><b>Gerar Macro</b></button>
    </div>

</div>
</form>



<!--Bloco para definir seletor de data apenas para mês e ano-->
<style>
	.ui-datepicker-calendar {
		display: none;
	}
</style>
<script>
	$(".datam").datepicker({
		 changeMonth: true,
		 changeYear: true,
		 dateFormat: 'mm/yy',
		 monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
		 onClose: function(dateText, inst) {
			$(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
		 }
	});
</script>
{% endblock %}